<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />
    <title>Timetable Inputs Page</title>
</head>
<body>
    <form action="{{ url_for('auth.input')}}" method="post" onsubmit="return check_minimum_checkboxes()">
    <h2>Tick the days you are available</h2>
    <input type="checkbox" id="monday" name="monday">Monday</input>
    <input type="number" id="time1" name="time1" min="1" max="3"><br>

    <input type="checkbox" id="tuesday" name="tuesday">Tuesday</input>
    <input type="number" id="time2" name="time2" min="1" max="3"><br>

    <input type="checkbox" id="wednesday" name="wednesday">Wednesday</input>
    <input type="number" id="time3" name="time3" min="1" max="3"><br>

    <input type="checkbox" id="thursday" name="thursday">Thursday</input>
    <input type="number" id="time4" name="time4" min="1" max="3"><br>

    <input type="checkbox" id="friday" name="friday">Friday</input>
    <input type="number" id="time5" name="time5" min="1" max="3"><br>

    <input type="checkbox" id="saturday" name="saturday">Saturday</input>
    <input type="number" id="time6" name="time6" min="1" max="3"><br>

    <input type="checkbox" id="sunday" name="sunday">Sunday</input>
    <input type="number" id="time7" name="time7" min="1" max="3"><br>

    <h2>Enter all of your A-Level subjects and how confident you are in each subject?</h2>
    <input type="text" id="subject1" name="subject1">
    <input type="number" id="confidence1" name="confidence1" min="1" max="10"><br>

    <input type="text" id="subject2" name="subject2">
    <input type="number" id="confidence2" name="confidence2" min="1" max="10"><br>

    <input type="text" id="subject3" name="subject3">
    <input type="number" id="confidence3" name="confidence3" min="1" max="10"><br>

    <input type="text" id="subject4" name="subject4">
    <input type="number" id="confidence4" name="confidence4" min="1" max="10"><br>
    <button type="submit">Generate</button><br>

    <script>
      function check_minimum_checkboxes()
      {
        //Gets all html elements with the input type checkbox that are checked and stores them in an array
        var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        //Gets the length of the array which is the number of ticked checkboxes
        var checkbox_num = checkboxes.length;
        //If less than 3 checkboxes ticked return false else return true
        if(checkbox_num < 3)
        {
          alert("Please select at least three checkboxes(days) where you are available to revise.");
          return false;
        }
        else
        {
          return true;
        }
      }
    </script>
</body>
</html>